body {
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  background-color: #0b0b0b;
  color: white;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background: #0b0b0b;
  overflow: hidden;
}

/* Hero Section */
.hero {
  width: 100%;
  height: 960px;
  background-image: url("/Images/Bg-Pic.svg");
  background-size: cover;
  position: relative;
}

.menu {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 73px;
  padding: 27px 59px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: center;
  background-image: url("/Images/frame.png");
  width: 530px;
  height: 64px;
  align-items: center;
  gap: 30px;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.signup {
  display: flex;
  gap: 29px;
}

.signup div {
  display: flex;
  align-items: center;
  background-image: url("/Images/Polygon7.svg");
  width: 121px;
  height: 64px;
  gap: 10px;
}

.signup img {
  width: 24px;
  height: 24px;
}

.hero-title {
  text-align: center;
  font-size: 64px;
  margin-top: 50px;
  font-family: Elephant;
  font-size: 64px;
  font-weight: 400;
  line-height: 78.53px;
  color: #ffc453;
}

.hero-pic {
  position: absolute;
  top: 41px;
  left: 307px;
  width: 546px;
  height: 758px;
  text-align: center;
}

.hero-pic img {
  align-items: center;
}

.hero-pic button {
  width: 107px;
  height: 108px;
  margin: 20px;
}

.scroll-indicator {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-indicator img {
  width: 53px;
  height: 67px;
  bottom: 20px;
}

/* About Us Section */
.about-us {
  width: 100%;
  height: 534px;
  padding: 50px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 71px;
}

.title {
  width: Fixed (400px) px;
  height: Fixed (132px) px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.title img {
  width: 130px;
  height: 150px;
}

.title h2 {
  font-family: Lora;
  font-size: 40px;
  font-weight: 600;
  line-height: 51.2px;
  text-align: left;
  color: #fff9c0;
}

.line {
  width: 849px;
  height: 0px;
  gap: 0px;
  /* border: 4px 0px 0px 0px; */

  /* width: 849px; */
  /* height: 4px; */
  /* background-color: white; */
  background-image: url("/Images/line.png");
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #ffba41 15.79%, #0b0b0b 100%);
}

.text-about {
  width: 480px;
  height: 228px;
  margin-top: 17px;
  margin-left: 85px;
}

.text-about p {
  width: 480px;
  height: 150px;
  top: 176px;
  left: 85px;
  color: #fff9c0;
  font-size: 18px;
  line-height: 36px;
  /* text-align: justify; */
}

.about-signup {
  display: flex;
  gap: 29px;
}

.about-signup div {
  display: flex;
  align-items: center;
  background-image: url("/Images/Polygon7.svg");
  width: 121px;
  height: 64px;
  gap: 10px;
}

.about-signup img {
  width: 24px;
  height: 24px;
}
.about-us-main {
  display: flex;
  width: 847px;
  height: 468px;
}

.about-pic {
  width: 603.57px;
  height: 268.83px;
  background-image: url("/Images/Cover.svg");
  position: absolute;
  margin-bottom: 176px;
  margin-right: 85px;
}

.about-pic img {
  width: 282px;
  height: 521px;
  position: relative;
  bottom: 170px;
  left: 150px;
}

/* Product Section */
.products-section {
  width: 100%;
  height: 591px;
  top: 1759px;
  padding: 0px 0px 0.05px 0px;
}

.products-section .divider {
  /* width: 1440px;
  height: auto;
  padding: 0px 0px 0px 62px;
  gap: 71px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 71px;
}

.products-section .divider .title {
  /* width: 400px;
  height: 132px;
  gap: 0px; */
  width: Fixed (400px) px;
  height: Fixed (132px) px;

  display: flex;
  align-items: center;
  gap: 20px;
}

.products-section .divider .title .bee-image {
  width: 106px;
  height: 88.93px;
  /* transform: rotate(-32.92deg); */
}

.products-section .divider .title h2 {
  /* width: 172px;
  height: 51px;
  margin: 0; */
  font-family: Lora;
  font-size: 40px;
  font-weight: 600;
  line-height: 51.2px;
  text-align: left;
  color: #fff9c0;
}

.products-section .divider .line {
  width: 849px;
  height: 0px;
  background-image: url("/Images/line.png");
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #ffba41 15.79%, #0b0b0b 100%);
}

.products-section .products .product-frame-1 {
  width: 836px;
  height: 390.95px;
  margin-top: 80px;
  margin-left: 302px;
  display: flex;
  justify-content: space-between;
}
.products-section .products .product-frame-2{
  width: 636px;
  height: 390.95px;
  margin-top: -202px;
  margin-left: 402px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
}
.products-section .product-frame {
  width: 209.21px;
  height: 210.21px;
  gap: 0px;
  /* border: 1.78px solid; */
  position: relative;
}

.products-section .product-frame .frame24 {
  width: 135px;
  height: 135px;
  position: absolute;
  align-items: center;
  top: 5px;
  left: 0px;
  padding: 29.21px 29.67px 28.8px 30.14px;
}

.products-section .product-frame .frame24 img {
  width: 100%;
  height: 100%;
}

/* shop section */
.shop-section {
  width: 100%;
  height: 760px;
  margin-top: 100px;
  gap: 0px;
}

.shop-section .divider {
  /* width: 1440px;
  height: auto;
  padding: 0px 0px 0px 62px;
  gap: 71px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 71px;
}

.shop-section .divider .title {
  /* width: 400px;
  height: 132px;
  gap: 0px; */
  width: Fixed (400px) px;
  height: Fixed (132px) px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.shop-section .divider .title .bee-image {
  width: 106px;
  height: 88.93px;
}

.shop-section .divider .title h2 {
  /* width: 172px;
  height: 51px;
  margin: 0; */
  font-family: Lora;
  font-size: 40px;
  font-weight: 600;
  line-height: 51.2px;
  text-align: left;
  color: #fff9c0;
}

.shop-section .divider .line {
  width: 849px;
  height: 0px;
  background-image: url("/Images/line.png");
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #ffba41 15.79%, #0b0b0b 100%);
}

.shop-section .shopframe {
  width: 1440px;
  height: auto;
  padding: 66px 0px;
  gap: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-section .shopframe .pic-shop {
  width: 316px;
  height: 332px;
  padding: 26px 31px;
}
.shopframe-submain{
  display:flex;
  justify-content: space-between;
  gap:20px
}
.shop-section .shopframe .shopping-card {
  width: 988px;
  height: 392px;
  gap: 0px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow:  #efeeec12 0px 5px 15px;
  /* background: #FFBA4112; */
  background: #efeeec12;

}

.shop-section .shopping-card img {
  width: 254px;
  height: 309px;
}

.shop-section .shopping-card .description {
  width: 614px;
  height: 185px;
  gap: 0px;
}

.shop-section .shopping-card .description p {
  font-family: Lora;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  text-align: justify;
  margin: 0;
}
.shop-section .shopping-card .description p span{
  color:#ffc453
}
.shop-section .shopping-card .size-section {
  width: 141px;
  height: 109.25px;
  gap: 0px;
}

.shop-section .shopping-card .size-section h3 {
  width: 45px;
  height: 36px;
  margin: 0;
  color:#ffc453
}

.shop-section .shopping-card .size-section img {
  width: 141px;
  height: 61.25px;
  margin-top: 10px;
}

.shop-section .shopping-card .divider-vertical {
  height: 98.5px;
  border: 1px solid;
  /* color:#ffc453; */
  background-image: url("/Images/divider.svg");
top: 254px;
left: 487px;
gap: 0px;
/* border: 2px 0px 0px 0px; */

  /* border: 2px solid; */
border-image-source: radial-gradient(828142547765.27% 8223.87% at -0.01% 100.51%, #3E2804 13.94%, #FFBA41 51.01%, #3E2804 82.46%);
}

.shop-section .shopping-card .info img {
  width: 275px;
  height: 109px;
  padding: 0px 23px 0px 0px;
}
.shopframe-submain .shop-button img{
  width: 144px;
  height: 64px;
  margin-top: 25px;
  margin-left: 0px;
  margin-right:20px;
  /* padding: 0px 28px 0px 28px; */
}
.shop-section .shopping-card .shop-button {
  width: 144px;
  height: 64px;
  padding: 0px 28px;

}

.shop-section .slider {
  width: 165px;
  height: 36px;
  top: 724px;
  left: 637px;
}

.shop-section .slider .slider-dots {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: Fixed (165px)px;
height: Fixed (36px)px;
/* margin-top: 724px; */
margin-left: 637px;
gap: 0px;

}

/* Gallery Section */
.gallery-section {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 62px;
  gap: 71px;
}

.gallery-section .divider {
  width: 1440px;
  height: auto;
  padding: 0px 0px 0px 62px;
  gap: 71px;
}

.gallery-section .divider .title {
  width: 400px;
  height: 132px;
  gap: 0px;
}

.gallery-section .divider .title .bee-image {
  width: 106px;
  height: 88.93px;
}

.gallery-section .divider .title h2 {
  width: 172px;
  height: 51px;
  margin: 0;
}

.gallery-section .divider .line {
  width: 849px;
  height: 0px;
  background-image: url("/Images/line.png");
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #ffba41 15.79%, #0b0b0b 100%);
}

.gallery-section .gallery .gallery-item-frame1 {
  width: 836px;
  height: 390.95px;
  margin-top: 80px;
  margin-left: 302px;
  display: flex;
  justify-content: space-between;
}
.gallery-section .gallery .gallery-item-frame1{
  width: 636px;
  height: 390.95px;
  margin-top: -202px;
  margin-left: 402px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
}
.products-section .product-frame {
  width: 209.21px;
  height: 210.21px;
  gap: 0px;
  /* border: 1.78px solid; */
  position: relative;
}

.products-section .product-frame .frame24 {
  width: 135px;
  height: 135px;
  position: absolute;
  align-items: center;
  top: 5px;
  left: 0px;
  padding: 29.21px 29.67px 28.8px 30.14px;
}

.products-section .product-frame .frame24 img {
  width: 100%;
  height: 100%;
}
.gallery-section .arrows {
  width: 1064px;
  height: 36px;
  top: 677px;
  margin-left: 378px;
  display: flex;
  justify-content: space-between;
}

.beauty-section {
  width: 100%;
  height: 450px;
  padding: 0px 0px 50px 0px;
}

.beauty-section .divider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 71px;
}

.beauty-section .divider .title {
  width: Fixed (400px) px;
  height: Fixed (132px) px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.beauty-section .divider .title .bee-image {
  width: 106px;
  height: 88.93px;
}

.beauty-section .divider .title h2 {
  font-family: Lora;
  font-size: 40px;
  font-weight: 600;
  line-height: 51.2px;
  text-align: left;
  color: #fff9c0;
}

.beauty-section .divider .line {
  width: 849px;
  height: 0px;
  background-image: url("/Images/line.png");
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #ffba41 15.79%, #0b0b0b 100%);
}

.beauty-section .beautyframe {
  /* width: 1237px;
  height: 570px;
  top: 2096px;
  left: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center; */
  display: flex;
  width: 847px;
  height: 468px;
}

.beauty-section .beauty-description {
  width: 480px;
  height: 228px;
  margin-top: 17px;
  margin-left: 155px;
}

.beauty-section .beauty-description p {
  /* font-family: Lora;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  text-align: justify;
  margin: 0; */
  width: 480px;
  height: 210px;
  top: 176px;
  left: 85px;
  color: #fff9c0;
  font-size: 18px;
  line-height: 36px;
}
.beauty-signup {
  display: flex;
  gap: 29px;
}

.beauty-signup div {
  display: flex;
  align-items: center;
  background-image: url("/Images/Polygon7.svg");
  width: 121px;
  height: 64px;
  gap: 10px;
}

.beauty-signup img {
  width: 24px;
  height: 24px;
}

.beauty-pic {
  width: 603.57px;
  height: 268.83px;
  position: absolute;
  margin-bottom: 176px;
  margin-right: 85px;
}

.beauty-pic img {
  width: 571px;
  height: 605px;
  position: relative;
  bottom: 170px;
  left: 739px;
}
.reviews-section {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 62px;
  gap: 71px;
}

.reviews-section .divider {
  width: 1440px;
  height: auto;
  padding: 0px 0px 0px 62px;
  gap: 71px;
}

.reviews-section .divider .title {
  width: 400px;
  height: 132px;
  gap: 0px;
}

.reviews-section .divider .title .bee-image {
  width: 106px;
  height: 88.93px;
}

.reviews-section .divider .title h2 {
  width: 172px;
  height: 51px;
  margin: 0;
}

.reviews-section .divider .line {
  width: 849px;
  height: 0px;
  background-image: url("/Images/line.png");
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #ffba41 15.79%, #0b0b0b 100%);
}

.reviews-section .reviews {
  /* width: 1100px;
  height: auto;
  top: 2096px;
  left: 188px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  width: 1440px;
height: 671.54px;
}
.reviews-section .reviews .reviews-frame-1 {
  width: 800px;
  height: 390.95px;
  margin-top: 15px;
  margin-left: 52px;
  display: flex;
  gap:20px;
  justify-content: space-between;
}
.reviews-section .reviews .reviews-frame-2{
  width: 636px;
  height: 390.95px;
  margin-top: -150px;
  margin-right: 402px;
  /* gap: 20px; */
  display: flex;
  justify-content: space-between;
}
.reviews-section .reviews .reviews-frame-3{
  width: 800px;
  height: 390.95px;
  margin-top: -150px;
  margin-left: 52px;
  display: flex;
  gap:20px;
  justify-content: space-between;
}
.reviews-section .reviews-frame {
  width: 209.21px;
  height: 210.21px;
  gap: 20px;
  /* border: 1.78px solid; */
  position: relative;
}

.reviews-section .reviews-frame .frame24 {
  width: 196px;
  height: 214px;
  position: absolute;
  align-items: center;
  margin-top: 0px;
  margin-right: 1px;
  margin-left:10px;
  padding: 29.21px 29.67px 28.8px 30.14px;
}

.reviews-section .reviews-frame .frame24 img {
  width: 100%;
  height: 100%;
}
.reviews-frame .review-poly-inside {
  width: 209.21px;
  height: 210.21px;
  gap: 0px;
  margin-top:20px;
  /* border: 1.78px solid; */
  position: relative;
}
.reviews-section .reviews-frame .review-poly-inside .frame24 {
  width: 135px;
  height: 135px;
  position: absolute;
  align-items: center;
  top: 5px;
  left: 0px;
  padding: 29.21px 29.67px 28.8px 30.14px;
}
.reviews-section .reviews-frame .review-poly-inside .frame24 img {
  width: 100%;
  height: 100%;
}

.reviews-section .review-card {
  width: 526px;
  height: 200px;
  gap: 10px;
  padding: 20px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.reviews-section .review-card .review-text {
  font-family: Lora;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: justify;
  margin: 0;
}

.reviews-section .review-card .reviewer {
  font-family: Lora;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
  margin: 0;
}
.meet-us-section {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 62px;
  gap: 71px;
}

.meet-us-section .divider {
  width: 1440px;
  height: auto;
  padding: 0px 0px 0px 62px;
  gap: 71px;
}

.meet-us-section .divider .title {
  width: 400px;
  height: 132px;
  gap: 0px;
}

.meet-us-section .divider .title .bee-image {
  width: 106px;
  height: 88.93px;
}

.meet-us-section .divider .title h2 {
  width: 172px;
  height: 51px;
  margin: 0;
}

.meet-us-section .divider .line {
  width: 849px;
  height: 0px;
  background-image: url("/Images/line.png");
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #ffba41 15.79%, #0b0b0b 100%);
}

.meet-us-section .meet-us-content {
  width: 1000px;
  height: auto;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
}

.meet-us-section .team-member {
  width: 300px;
  height: 500px;
  gap: 5px;
  text-align: center;
}

.meet-us-section .team-member img {
  /* width: 100%;
  height: auto; */
  width: 700px;
height: 441px;
margin-top: 2px;
margin-left:50px;
}

/* .meet-us-section .team-member h3 {
  font-family: Lora;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 10px 0 5px 0;
} */

.meet-us-section .team-member .team-p1{
  width: 340px;
height: 11px;
font-family: Lora;
font-size: 32px;
font-weight: 500;
line-height: 40.96px;
text-align: left;
color: #FFF9C0;
}
.meet-us-section .team-member .team-p2{
  width: 255px;
  height: 3px;
  top: 50px;
  font-family: Lora;
  font-size: 24px;
  font-weight: 500;
  line-height: 30.72px;
  text-align: left; 
color: #FFF9C0;
}
.meet-us-section .team-member .team-p3{
width: 480px;
height: 440px;
font-family: Lora;
font-size: 18px;
font-weight: 400;
line-height: 54px;
text-align: start;
color: #FFF9C0;
}

.subscribe-section {
  width: 100%;
  height: auto;
  padding: 0px 0px 0px 62px;
  gap: 71px;
}

.subscribe-section .divider {
  width: Hug (1,294px)px;
  height: Hug (31px)px;
  top: 72px;
  left: 73px;
  gap: 18px;  
}
.subscribe-form .email-sub{
margin-top: 34px;
padding: 14px 24px 14px 12px;
gap: 12px;
border-radius: 12px 0px 0px 0px;
border: 1px 0px 0px 0px;
margin-left:400px
}
.subscribe-signup {
  display: flex;
  gap: 29px;
}

.subscribe-signup div {
  display: flex;
  align-items: center;
  background-image: url("/Images/Polygon7.svg");
  width: 121px;
  height: 64px;
  gap: 10px;
}

.subscribe-signup img {
  width: 24px;
  height: 24px;
}
.subscribe-button{
padding: 14px 24px 14px 12px;
border-radius: 12px 0px 0px 0px;
margin-left:600px
}

/* Footer Section */
.footer {
  width: 100%;
  /* height: auto; */
  background-color: #333;
  color: white;
}

.footer-content {
  width: 1440px;
  height: 500px;
margin-left:50px; 
margin-top:70px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-logo img {
  width: 25%;
}

.footer-things {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  padding:  20px;
}

.footer-pic img {
  width: 100%;

  /* height: auto; */
}

.footer-socialmedia {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
}

.footer-socialmedia a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.footer-socialmedia a:hover {
  color: #ffa500;
}

.footer-copyright {
  text-align: center;
  margin-top: -40px;
  margin-left: 450px;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .hero .menu {
    flex-direction: column;
  }

  .hero .navigation {
    flex-direction: column;
    gap: 10px;
  }

  .about-us-main {
    flex-direction: column;
    text-align: center;
  }

  .products {
    flex-direction: column;
  }

  .shopframe {
    flex-direction: column;
  }
}